# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno
.env
client/.env
server/.env

# Builds
build/
dist/

# Archivos cargados por usuarios
uploads/
server/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db